        @font-face {
            font-family: skyFontReg;
            src: url(../common/Sky_Reg.ttf);
        }
        /* Start of "Micro clearfix" */
        
        .cf {
            zoom: 1;
        }
        
        .cf:before,
        .cf:after {
            content: "";
            display: table;
        }
        
        .cf:after {
            clear: both;
        }
        /* End of "Micro clearfix" */
        
        html,
        body {
            height: 100%;
        }
        
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        
        #mainContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 900px;
            border: 1px solid #D7DBDD;
            border-radius: 5px;
            background-color: #FCFDFD;
            padding: 0;
        }
        
        #userAreaContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 15px;
        }
        
        #menuContainer {
            display: flex;
            flex-direction: column;
            height: auto;
            width: auto;
            margin-right: 20px;
            border: 1px solid #D7DBDD;
            border-radius: 5px;
            background-color: #FCFDFD;
            padding: 10px;
        }
        
        #paramContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 10px;
        }
        
        #splashContainer {
            width: 500px;
            border: 1px solid #D7DBDD;
            border-radius: 5px;
            background-color: #FCFDFD;
            padding: 10px;
        }
        
        #splash-image {
            max-width: 500px;
            margin: auto;
            display: block;
        }
        
        #footer {
            border-top: 1px solid #D7DBDD;
            background-color: #EEF3F5;
            text-align: center;
            min-height: 20px;
            padding: 5px 15px;
            color: #16A2D7;
        }
        
        .menu-title-container {
            display: flex;
            align-content: center;
            justify-content: center;
        }
        
        .menu-title-container .menu__title {
            padding: 5px 10px;
            color: #16A2D7;
            font-size: 20px;
            font-weight: 800;
        }
        
        .menu__item {
            cursor: pointer;
            padding: 5px 10px;
            color: #16A2D7;
            font-size: 18px;
        }
        
        .menu__item.menu-item-selected {
            background-color: #EEF3F5;
            border-radius: 4px;
        }
        
        .menu__icon {
            content: "\f073";
        }
        
        #testToggle,
        #hdToggle,
        #daxToggle {
            display: flex;
            align-content: center;
            justify-content: space-between;
            width: 65px;
            height: 16px;
        }
        
        #testToggle {
            background-color: #16A2D7;
        }
        
        #hdToggle {
            background-color: #16A20D;
        }
        
        #daxToggle {
            background-color: #D7B200;
        }
        
        .tick_Button {
            border-radius: 4px;
            color: #FCFDFD;
            font-size: 14px;
            padding: 5px 10px;
        }
        
        .tick_Button .labelText {}
        
        .tickBox.ticked:after {
            content: "\2713";
            color: white;
        }
        
        .font__sky {
            font-family: skyFontReg;
        }