@font-face {
    font-family: skyFontReg;
    src: url(../common/Sky_Reg.ttf)
}

*,
:after,
:before {
    box-sizing: border-box;
    font-family: skyFontReg;
    margin: 0;
    padding: 0
}

body {
    background-color: #000;
    height: 720px;
    overflow: hidden;
    width: 1280px
}

.preload-images {
    left: -9999px;
    position: absolute;
    top: -9999px
}

div#preloader img {
    display: block
}

#loadingAnim {
    background: url(../assets/loading.gif);
    height: 64px;
    left: 608px;
    position: absolute;
    top: 328px;
    visibility: hidden;
    width: 64px;
    z-index: 30000
}

#splashContainer {
    height: 720px;
    left: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 1280px;
    z-index: 60000
}

#vidArea {
    height: 720px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1280px;
    z-index: 0
}

#vidBroadcast {
    left: 0;
    position: absolute;
    top: 0
}

#testArea {
    color: #FFF;
    height: 720px;
    width: 1280px
}

#debugArea {
    color: #FFF;
    height: 60px;
    left: 100px;
    position: absolute;
    top: 100px;
    visibility: hidden;
    width: 400px;
    z-index: 65535
}

#infoDiv {
    border: 2px solid red;
    color: #fff;
    height: 300px;
    left: 600px;
    position: absolute;
    width: 300px;
    z-index: 500
}

#target {
    border: 5px solid red;
    border-radius: 10px;
    height: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 5
}

#ticker {
    border: none;
    box-sizing: border-box;
    left: 1280px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    white-space: nowrap
}

#ticker #tickerText {
    border: none;
    color: #fff;
    display: inline-block;
    font-family: skyFontReg;
    font-size: 14pt;
    font-weight: 700;
    line-height: 33px;
    text-indent: 0;
    vertical-align: middle
}

#ticker #tickerText.tickerStart {
    animation: ticker 25s linear infinite
}

#alertStrap {
    height: 35px;
    left: 0;
    position: absolute;
    visibility: hidden;
    width: 1280px;
    z-index: 20
}

#alertStrap #alertText {
    font-family: skyFontReg;
    font-size: 14pt;
    font-weight: 700;
    left: 216px;
    position: absolute;
    text-align: center;
    top: 8px;
    width: 830px
}

#audioText {
    background-color: #000;
    color: #FFF;
    height: 28px;
    left: 1100px;
    line-height: 28px;
    position: absolute;
    text-align: left;
    top: 20px;
    visibility: hidden;
    z-index: 1000;
}

#helpContainer {
    background-color: #000;
    border-color: #FFF;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative;
    width: 800px;
    z-index: 500
}

#helpTextArea {
    background-color: #000;
    height: 320px;
    left: 10px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 40px;
    width: 730px
}

#helpTextArea span {
    color: #FFF;
    font-size: 14pt;
    font-weight: 700
}

figure.helpArrow {
    background-color: #000;
    height: 30px;
    left: 740px;
    position: absolute;
    width: 30px;
    z-index: 501
}

#helpUpArrow {
    background-image: url(../assets/uparrow.png);
    top: 10px
}

#helpDownArrow {
    background-image: url(../assets/downarrow.png);
    top: 330px
}

#vdl_CmExitPopup {
    z-index: 999999
}

#iMenuStrap,
#messageStrap {
    background-image: url(../assets/strap.png);
    color: #FFF;
    font-size: 14pt;
    height: 33px;
    left: 0;
    line-height: 33px;
    position: absolute;
    text-align: center;
    top: 652px;
    visibility: hidden;
    width: 1280px;
    z-index: 15
}

#statsMenuContainer {
    position: absolute;
    left: 800px;
    top: 15px;
    width: 370px;
    min-height: 200px;
    color: #fff;
    font-weight: 700;
    background-color: #000;
    z-index: 999;
}

#statsMenuContainer.open {
    visibility: visible
}

#statsMenuContainer.closed {
    visibility: hidden
}

#statsHeader {
    width: inherit;
}

#statsHeader_Text {
    height: 45px;
    background-image: url(../assets/stats/f1/i_close.png)
}

#statsHeader_Title {
    height: 40px;
    background-image: url(../assets/stats/f1/red_strap.png)
}

#extraTitle {
    height: 40px;
    background-image: url(../assets/stats/f1/title_strap.png)
}

#statsHeader_Text,
#statsHeader_Title,
#statsHeader_Title_Text,
#statsFooter_Text,
#extraTitle {
    width: inherit;
    text-align: center;
}

#statsHeader_Text,
#statsFooter_Text {
    line-height: 45px;
}

#statsHeader_Title,
#statsHeader_Title_Text,
#extraTitle {
    line-height: 40px;
}

#statsFooter_Text {
    margin-left: 50px;
    text-align: left;
}

#statsHeader_Title_Text {}

#statsFooter {
    position: absolute;
    bottom: 0;
    height: 45px;
    width: inherit;
    background-image: url(../assets/stats/f1/bottom_strap.png)
}

#statsContainer {
    height: auto;
    margin-bottom: 45px;
}

#statsContainer.statsScroller {
    max-height: 300px;
    padding: 20px;
    line-height: 22px;
    overflow: hidden;
}

#statsContainer ul {}

#statsContainer li.statsMainMenu,
#statsContainer li.statsNewsMenu,
#statsContainer li.statsQualifyingMenu,
#statsContainer li.statsPracticeMenu {
    width: inherit;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    text-align: left;
    list-style-type: none
}

#qualiTopRow,
li.qualiRow,
#practiceTopRow,
li.practiceRow,
#gridTopRow,
li.gridRow,
#standingsTopRow,
li.standingsRow {
    display: flex;
    align-content: flex-start;
    width: inherit;
    height: 40px;
    line-height: 40px;
    text-align: left;
    list-style-type: none
}

.posColumn,
.rankColumn {
    padding-left: 20px;
    width: 50px;
}

#gridTopRow .nameColumn,
li.gridRow .nameColumn {
    width: 250px;
}

#qualiTopRow .nameColumn,
li.qualiRow .nameColumn {
    width: 180px;
}

#qualiTopRow .timeColumn,
li.qualiRow .timeColumn {
    padding-right: 15px;
    width: 70px
}

#qualiTopRow .teamColumn,
li.qualiRow .teamColumn {
    width: 60px;
}

#practiceTopRow .nameColumn,
li.practiceRow .nameColumn {
    width: 180px;
}

#practiceTopRow .lapsColumn,
li.practiceRow .lapsColumn {
    text-align: right;
    padding-right: 15px;
    width: 70px
}

#practiceTopRow .timeColumn,
li.practiceRow .timeColumn {
    width: 70px;
}

#standingsTopRow .nameColumn,
li.standingsRow .nameColumn {
    text-align: left;
    width: 200px;
}

.teamColumn {
    text-align: left;
    padding-right: 15px;
    width: 70px
}

.constructorsTeamColumn {
    text-align: left;
    padding-right: 15px;
    width: 270px
}

.pointsColumn {
    text-align: right;
    padding-right: 15px;
    width: 50px
}

#statsContainer li.statsMainMenu:nth-child(odd),
li.gridRow:nth-child(odd),
li.standingsRow:nth-child(odd),
li.qualiRow:nth-child(odd),
li.practiceRow:nth-child(odd),
li.statsNewsMenu:nth-child(odd),
#statsContainer li.statsQualifyingMenu:nth-child(odd),
#statsContainer li.statsPracticeMenu:nth-child(odd) {
    background-image: url(../assets/stats/f1/lowlight1_strap.png)
}

#statsContainer li.statsMainMenu:nth-child(even),
li.gridRow:nth-child(even),
li.standingsRow:nth-child(even),
li.qualiRow:nth-child(even),
li.practiceRow:nth-child(even),
li.statsNewsMenu:nth-child(even),
#statsContainer li.statsQualifyingMenu:nth-child(odd),
#statsContainer li.statsPracticeMenu:nth-child(odd),
#gridTopRow,
#standingsTopRow,
#qualiTopRow,
#practiceTopRow {
    background-image: url(../assets/stats/f1/lowlight2_strap.png)
}

#statsContainer li.statsMainMenu.selected,
#statsContainer li.statsNewsMenu.selected,
#statsContainer li.statsPracticeMenu.selected,
#statsContainer li.statsQualifyingMenu.selected {
    color: #000;
    background-image: url(../assets/stats/f1/highlight_strap.png)
}